
@{
    ViewBag.Title = "GetViewData";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    function SearchGoodsBegin() {
        alert("表单提交之前触发的事件SearchGoodsBegin");
    }
    function SearchGoodsSuccess(data) {
        alert(data);
    }
</script>


<h2>GetViewData</h2>

<h4>使用.NET MVC中的Ajax.BeginForm来完成表单数据向后台提交的操作Demo。</h4>

@using (Ajax.BeginForm("SendViewData", "Home", new AjaxOptions
{
    HttpMethod = "Get",
    UpdateTargetId = "data",
    OnBegin = "SearchGoodsBegin",
    OnSuccess = "SearchGoodsSuccess"
}, new { @class = "searchForm", id = "searchForm", @role = "form" }))
{
    <span> 编号：</span>
    <input type="text" name="Id" value="" />
    <span> 名称：</span>
    <input type="text" name="Name" value="" />
    <input type="submit" value="提交" />
}
